numpy==2.2.3
pandas==2.2.3
pandocfilters==1.5.1
scikit-learn==1.6.1
scikit-learn-intelex==2025.2.0
scipy==1.15.2
plotly==6.0.1
tqdm==4.67.1
notebook==7.3.2
matplotlib==3.10.1
ipywidgets==8.1.5