# Helm directory ignore patterns
helm/*.json
helm/*.yml
helm/*.yaml
helm/*.conf
helm/*.sh
helm/*.csv
helm/*.template
helm-packages/

.venv/

# Python cache
__pycache__/
tests/**/__pycache__/
tests/__pycache__/
tests/functional/tests.log

configs/time-series-analytics-microservice/*.tar
configs/grafana/provisioning/*.json
configs/vllm*
configs/agentic/models/*