# CODEOWNERS
# This file defines file ownership for automatic review requests.
# The later matching patterns take precedence over the earlier ones, which means that more specific patterns should appear after general ones.
# If a resource has under three technical code owners, it should not be assigned to the Documentation team either, even if it includes documentation (for the process reasons).

LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel


# ============================================================================
# Education-AI Suite
# ============================================================================

/education-ai-suite/                                                  @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec
/education-ai-suite/README.md                                         @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec @open-edge-platform/open-edge-platform-docs-write

/education-ai-suite/smart-classroom/docs/                             @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec @open-edge-platform/open-edge-platform-docs-write
/education-ai-suite/smart-classroom/README.md                         @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# Health And Life Sciences AI Suite
# ============================================================================

# @xwu2intel added to keep the top ownership at the early development stage and the three-owner rule - remove once more owners are assigned
/health-and-life-sciences-ai-suite/               @sachinkaushik @avinash-palleti @xwu2intel
/health-and-life-sciences-ai-suite/README.md      @sachinkaushik @avinash-palleti @xwu2intel @open-edge-platform/open-edge-platform-docs-write

/health-and-life-sciences-ai-suite/**/docs/       @sachinkaushik @avinash-palleti @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/health-and-life-sciences-ai-suite/**/README.md   @sachinkaushik @avinash-palleti @xwu2intel @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# Manufacturing-AI Suite
# ============================================================================

/manufacturing-ai-suite/README.md                                      @xwu2intel @hteeyeoh @ajagadi1 @vkb1  @open-edge-platform/open-edge-platform-docs-write

/manufacturing-ai-suite/hmi-augmented-worker/                          @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel
/manufacturing-ai-suite/hmi-augmented-worker/docs/                     @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/hmi-augmented-worker/README.md                 @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel  @open-edge-platform/open-edge-platform-docs-write

/manufacturing-ai-suite/industrial-edge-insights-multimodal/            @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux
/manufacturing-ai-suite/industrial-edge-insights-multimodal/docs/       @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-multimodal/README.md   @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write

/manufacturing-ai-suite/industrial-edge-insights-time-series/           @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux
/manufacturing-ai-suite/industrial-edge-insights-time-series/docs/      @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-time-series/README.md  @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write

/manufacturing-ai-suite/industrial-edge-insights-vision/                @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel
/manufacturing-ai-suite/industrial-edge-insights-vision/docs/           @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-vision/README.md       @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-vision/**/README.md    @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel  @open-edge-platform/open-edge-platform-docs-write


# ============================================================================
# Metro-AI Suite
# ============================================================================

/metro-ai-suite/                                                 @rrajore @vagheshp @xwu2intel @ajagadi1 @ArokiEdgard
/metro-ai-suite/README.md                                        @rrajore @vagheshp @xwu2intel @ajagadi1 @ArokiEdgard  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/agentic-predictive-maintenance-pipeline                @14pankaj @bharagha @yogeshmpandey @madhuri-rai07 @krish918 @hteeyeoh @bhardwaj-nakul @Supriya-Krishnamurthi @rrajore
/metro-ai-suite/agentic-predictive-maintenance-pipeline/README.md      @14pankaj @bharagha @yogeshmpandey @madhuri-rai07 @krish918 @hteeyeoh @bhardwaj-nakul @Supriya-Krishnamurthi @rrajore @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/agentic-predictive-maintenance-pipeline/docs           @14pankaj @bharagha @yogeshmpandey @madhuri-rai07 @krish918 @hteeyeoh @bhardwaj-nakul @Supriya-Krishnamurthi @rrajore @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/image-based-video-search/                        @rrajore @vagheshp @xwu2intel @ajagadi1 @ArokiEdgard @rohitkatakol
/metro-ai-suite/image-based-video-search/docs/                   @rrajore @vagheshp @xwu2intel @ajagadi1 @ArokiEdgard @rohitkatakol  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/image-based-video-search/README.md               @rrajore @vagheshp @xwu2intel @ajagadi1 @ArokiEdgard @rohitkatakol  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/interactive-digital-avatar/                      @senhui2intel @Junyu-B @wzq112358 @myqi @xwu2intel
/metro-ai-suite/interactive-digital-avatar/docs/                 @senhui2intel @Junyu-B @wzq112358 @myqi @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/interactive-digital-avatar/README.md             @senhui2intel @Junyu-B @wzq112358 @myqi @xwu2intel  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/live-video-analysis/                             @bharagha @yogeshmpandey  @hteeyeoh
/metro-ai-suite/live-video-analysis/**/docs/                     @bharagha @yogeshmpandey  @hteeyeoh  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/live-video-analysis/**/README.md                 @bharagha @yogeshmpandey  @hteeyeoh  @open-edge-platform/open-edge-platform-docs-write

# /metro-ai-suite/metro-sdk-manager/                             no codeowners, the top codeowners apply
/metro-ai-suite/metro-sdk-manager/docs/user-guide/                         @vagheshp @rranjan3 @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-sdk-manager/docs/oep-sdk-manager-files/config.js     @vagheshp @rranjan3 @xwu2intel @open-edge-platform/open-edge-platform-docs-write

# inside vision ai recipe
/metro-ai-suite/metro-vision-ai-app-recipe/docs/                           @rrajore @vagheshp @xwu2intel @ajagadi1 @ArokiEdgard  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/README.md                       @rrajore @vagheshp @xwu2intel @ajagadi1 @ArokiEdgard  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/            @rrajore @vagheshp @xwu2intel @ajagadi1 @tjanczak
/metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/docs/       @rrajore @vagheshp @xwu2intel @ajagadi1 @tjanczak  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/README.md   @rrajore @vagheshp @xwu2intel @ajagadi1 @tjanczak  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/metro-vision-ai-app-recipe/smart-intersection/             @rrajore @vagheshp @xwu2intel @ajagadi1 @saratpoluri @sarthakdeva-intel @sajeevrajput
/metro-ai-suite/metro-vision-ai-app-recipe/smart-intersection/docs/        @rrajore @vagheshp @xwu2intel @ajagadi1 @saratpoluri @sarthakdeva-intel @sajeevrajput  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/smart-intersection/README.md    @rrajore @vagheshp @xwu2intel @ajagadi1 @saratpoluri @sarthakdeva-intel @sajeevrajput  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/                  @rrajore @vagheshp @xwu2intel @ajagadi1 @tjanczak
/metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/docs/             @rrajore @vagheshp @xwu2intel @ajagadi1 @tjanczak  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/README.md         @rrajore @vagheshp @xwu2intel @ajagadi1 @tjanczak  @open-edge-platform/open-edge-platform-docs-write
# this may need to be confirmed:
/metro-ai-suite/metro-vision-ai-app-recipe/smart-tolling/                  @rrajore @vagheshp @xwu2intel @ajagadi1
/metro-ai-suite/metro-vision-ai-app-recipe/smart-tolling/docs/             @rrajore @vagheshp @xwu2intel @ajagadi1  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/smart-tolling/README.md         @rrajore @vagheshp @xwu2intel @ajagadi1  @open-edge-platform/open-edge-platform-docs-write


/metro-ai-suite/sensor-fusion-for-traffic-management/                                  @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel
/metro-ai-suite/sensor-fusion-for-traffic-management/docs/                             @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/sensor-fusion-for-traffic-management/README.md                         @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/sensor-fusion-for-traffic-management/intermediate-fusion/README.md     @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/sensor-fusion-for-traffic-management/post-fusion/README.md             @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel  @open-edge-platform/open-edge-platform-docs-write


/metro-ai-suite/smart-nvr/                                              @bharagha @yogeshmpandey @bhardwaj-nakul @xwu2intel
/metro-ai-suite/smart-nvr/docs/                                         @bharagha @yogeshmpandey @bhardwaj-nakul @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-nvr/README.md                                     @bharagha @yogeshmpandey @bhardwaj-nakul @xwu2intel  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/smart-route-planning-agent/                             @bharagha @yogeshmpandey @madhuri-rai07 @krish918
/metro-ai-suite/smart-route-planning-agent/docs/                        @bharagha @yogeshmpandey @madhuri-rai07 @krish918  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-route-planning-agent/README.md                    @bharagha @yogeshmpandey @madhuri-rai07 @krish918  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/smart-traffic-intersection-agent/                       @bharagha @yogeshmpandey @madhuri-rai07 @krish918
/metro-ai-suite/smart-traffic-intersection-agent/docs/                  @bharagha @yogeshmpandey @madhuri-rai07 @krish918  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-traffic-intersection-agent/README.md              @bharagha @yogeshmpandey @madhuri-rai07 @krish918  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/video-processing-for-nvr/                        @zhangcong2019 @llin60 @Johere @xwu2intel
/metro-ai-suite/video-processing-for-nvr/docs/                   @zhangcong2019 @llin60 @Johere @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/video-processing-for-nvr/README.md               @zhangcong2019 @llin60 @Johere @xwu2intel  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/visual-search-question-and-answering/            @zhangcong2019 @llin60 @Johere @xwu2intel
/metro-ai-suite/visual-search-question-and-answering/docs/       @zhangcong2019 @llin60 @Johere @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/visual-search-question-and-answering/README.md   @zhangcong2019 @llin60 @Johere @xwu2intel  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/agentic-smart-community/            @Johere @lijiunderstand @llin60 @xwu2intel
/metro-ai-suite/agentic-smart-community/docs/       @Johere @lijiunderstand @llin60 @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/agentic-smart-community/README.md   @Johere @lijiunderstand @llin60 @xwu2intel  @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/enterprise-data-intelligence/            @Yongbozzz @myqi @llin60 @xwu2intel 
/metro-ai-suite/enterprise-data-intelligence/docs/       @Yongbozzz @myqi @llin60 @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/enterprise-data-intelligence/README.md   @Yongbozzz @myqi @llin60 @xwu2intel @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/vms-adapter-plugin/                              @sajeevrajput @rrajore @bharagha @yogeshmpandey @ArokiEdgard
/metro-ai-suite/vms-adapter-plugin/docs/                         @sajeevrajput @rrajore @bharagha @yogeshmpandey @ArokiEdgard @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/vms-adapter-plugin/README.md                     @sajeevrajput @rrajore @bharagha @yogeshmpandey @ArokiEdgard @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# Retail-AI Suite
# ============================================================================

# Retail-ai patterns - to be defined when content is added

/retail-ai-suite/README.md              @xwu2intel @avinash-palleti @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# Robotics-AI Suite
# ============================================================================

/robotics-ai-suite/                    @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft
/robotics-ai-suite/docs/               @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/README.md           @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/**/docs/            @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/**/README.md        @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# Federal & Aerospace AI Suite
# ============================================================================

/federal-aerospace/                                          @pperycz @jakubsikorski @ikyrycho @rrajore @xwu2intel
/federal-aerospace/apps/deterministic-threat-detection/      @rrajore @sugnanprabhu @ajagadi1 @xwu2intel
/federal-aerospace/apps/deterministic-threat-detection/docs/ @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/federal-aerospace/apps/uav-vision-analytics                 @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @pperycz
/federal-aerospace/docs/uav-vision-analytics                 @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @pperycz @open-edge-platform/open-edge-platform-docs-write
/federal-aerospace/apps/handheld-multi-modal/                @pperycz @jakubsikorski @ikyrycho @xwu2intel
/federal-aerospace/apps/handheld-multi-modal/docs/           @pperycz @jakubsikorski @ikyrycho @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/federal-aerospace/docs/                                     @pperycz @jakubsikorski @ikyrycho @rrajore @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/federal-aerospace/uav-mission-compute-sdk                   @k-mochi @nathsudi @rranjan3 @pperycz