README.md @xwu2intel
LICENSE @xwu2intel
CONTRIBUTING.md @xwu2intel
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md @xwu2intel
/metro-ai-suite/image-based-video-search/ @dnoliver @rajpatel9498 @mkarvir
/metro-ai-suite/smart-parking/ @vagheshp @tjanczak @xwu2intel
/metro-ai-suite/loitering-detection/ @vagheshp @tjanczak @xwu2intel
/manufacturing-ai-suite/pallet-defect-detection/ @ajagadi1 @sugnanprabhu @rrajore
/manufacturing-ai-suite/weld-porosity/ @ajagadi1 @sugnanprabhu @rrajore
