coverage
dist
node_modules
.npm
*.pt
.vscode
*.pyc
*.pyo
*.pyd
**/.venv
**/src/node-red/.npm/
**/src/node-red/lib/
**/src/node-red/.config.nodes.json
**/src/node-red/.config.nodes.json.backup
**/src/node-red/.config.runtime.json
**/src/node-red/.config.runtime.json.backup
**/src/node-red/.config.users.json
**/src/node-red/.config.users.json.backup
**/src/node-red/.flows.json.backup
**/src/node-red/settings.js
**/src/node-red/package.json
**/src/dlstreamer-pipeline-server/models/public/
**/src/dlstreamer-pipeline-server/videos/