coverage
dist
node_modules
.npm
*.pt
.vscode
*.pyc
*.pyo
*.pyd
**/.venv
**/node-red/.npm/
**/node-red/lib/
**/node-red/.config.nodes.json
**/node-red/.config.nodes.json.backup
**/node-red/.config.runtime.json
**/node-red/.config.runtime.json.backup
**/node-red/.config.users.json
**/node-red/.config.users.json.backup
**/node-red/.flows.json.backup
**/node-red/settings.js
**/node-red/package.json
dlsps/models/
dlsps/videos/
.venv
