--extra-index-url https://download.pytorch.org/whl/cpu

# baisc
torch==2.8.0
torchvision==0.16.2
torchaudio==2.1.2
numpy==1.22.4
opencv-python==4.8.1.78
openvino-dev==2024.3.0
openvino-genai==2024.3.0

# paddle speech
paddlepaddle==2.6.1
paddlespeech==1.5.0
typeguard==2.13.3
nltk==3.9

# funasr
funasr==1.1.4
modelscope==1.16.1
funasr-onnx==0.4.1
onnxruntime==1.20.0

# museTalk
transformers==4.50.0
soundfile==0.12.1
diffusers==0.27.2
accelerate==0.28.0
huggingface_hub==0.25.0

# mmcv
openmim==0.3.9

# misc
ffmpeg-python==0.2.0
scipy==1.7.3
moviepy==1.0.3
playsound==1.2.2
pyaudio==0.2.14
keyboard==0.13.5
PyGObject==3.48.2; sys_platform == 'linux'
tomli==2.0.1

# 3D render client
python-socketio==5.11.3
eventlet==0.37.0
