pytest==9.0.3  # Adjust to meet the requirements of pytest-env
pytest-html==4.2.0
pytest-env==1.6.0
requests==2.33.0
playwright==1.58.0
aiohttp==3.14.3
paho-mqtt==2.1.0
ruamel.yaml==0.19.1
PyYAML==6.0.3
influxdb-client==1.50.0
pandas==2.2.3
