Source: ros-humble-pyrealsense2-ai-demo
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Build-Depends: cmake, debhelper (>=11~), 
    dh-python, 
    python3-pytest <!nocheck>, 
    ros-humble-ros-workspace, 
    python3-all, 
    python3-setuptools, 
    libpython3.10-dev, 
    python3-dev, 
    cython3, 
Standards-Version: 4.1.4

Package: ros-humble-pyrealsense2-ai-demo
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, 
    ${python3:Depends},
    python3-dev,
    ros-humble-librealsense2 (>= 2.55.0),
    openvino (>= 2023.2.0),
    intel-oneapi-runtime-compilers,
    intel-oneapi-runtime-dpcpp-cpp,
    intel-oneapi-runtime-mkl,
    libze1 | level-zero,
    intel-opencl-icd (>=23.43.27642.40),
    libze-intel-gpu1 (>=23.43.27642.40)
Recommends: ros-humble-robotics-sdk-license
Description: Intel RealSense d4xx multi-camera streams Objects/Peoples detection demo of Intel OpenVINO optimized inferences in GPU using SSD-Mobilenet/Yolov8 models
