Source: ros-humble-adbscan-ros2
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Build-Depends: cmake, debhelper (>= 11~),
    intel-oneapi-compiler-dpcpp-cpp (>= 2025.2),
    intel-oneapi-dpcpp-ct (>= 2025.2),
    intel-oneapi-tbb-devel-2021.13,
    ros-humble-openvino-wrapper-lib,
    ros-humble-openvino-node,    
    libze1,
    libze-intel-gpu1,
    libflann1.9-dpcpp,
    libpcl-dev (>= 1.12),
    libpcl-oneapi-common1.12,
    bc,
    libboost-all-dev,
    libtbb-dev,
    python3-ament-package,
    ros-humble-ament-cmake-gtest,
    ros-humble-ament-cmake,
    ros-humble-ament-lint-auto,
    ros-humble-ament-lint-common,
    ros-humble-builtin-interfaces,
    ros-humble-geometry-msgs,
    ros-humble-nav2-dynamic-msgs,
    ros-humble-pcl-conversions,
    ros-humble-rclcpp,
    ros-humble-sensor-msgs,
    ros-humble-visualization-msgs,
Standards-Version: 4.1.4

Package: ros-humble-adbscan-ros2
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
    ros-humble-builtin-interfaces,
    ros-humble-geometry-msgs,
    ros-humble-nav2-dynamic-msgs,
    ros-humble-rclcpp,
    ros-humble-sensor-msgs,
    ros-humble-visualization-msgs,
Description: Standard Adaptive Density-based Spatial Clustering of Applications with Noise (ADBSCAN) for ROS2
Provides: ros-humble-adbscan-ros2
Conflicts: ros-humble-adbscan-oneapi
Replaces: ros-humble-adbscan-oneapi

Package: ros-humble-adbscan-oneapi
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
    ros-humble-builtin-interfaces,
    ros-humble-geometry-msgs,
    ros-humble-nav2-dynamic-msgs,
    ros-humble-pcl-conversions,
    ros-humble-rclcpp,
    ros-humble-sensor-msgs,
    ros-humble-visualization-msgs,
Description: Intel OneAPI optimized Adaptive Density-based Spatial Clustering of Applications with Noise (ADBSCAN) for ROS2
Provides: ros-humble-adbscan-oneapi
Conflicts: ros-humble-adbscan-ros2
Replaces: ros-humble-adbscan-ros2
